
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.srilanka {
  color: #675c5c;
  margin-right: -15px;
  float: right;
}

.lang-2{ position: absolute; right: 25px; }
.lang  button{ background: transparent !important; color: #fff; }





.dropdown-item.active, .dropdown-item:active {
   background: #ea0a0a !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444; background: #000;
}





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #B70006;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #860105;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-image: linear-gradient(to bottom, #000000, #3b0305 99%, #f90b13);
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header.header-inner-pages {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#header .logo a {
  color: #556270;
}

#header .logo img {
  max-height: 40px;
}

.btn-green-pro {
    float: right;
    background-color: darkgray;
    height: 45px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */




/* Get Startet Button */


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;

  background-image: linear-gradient(to bottom, #070707, #252525 25%, #444444 51%, #252525 61%, #010101);

  position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  top: 112px;
}

@media (max-width: 992px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    top: 66px;
  }
}





#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #d9232d;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #d9232d;
}

#hero .btn-get-started:hover {
  background: #df3740;
}

@media (max-width: 992px) {
  #hero {

  }
  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/* section {
  padding: 60px 0;
} */


.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #e6636a;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #556270;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  overflow: hidden;
}

.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #556270;
  border-radius: 0;
  border-right: 2px solid white;
  font-weight: 600;
  font-size: 15px;
}

.features .nav-link:hover {
  color: #d9232d;
}

.features .nav-link.active {
  color: #d9232d;
  border-color: #d9232d;
}

.features .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.features .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #556270;
}

.features .details p {
  color: #777777;
}

.features .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .features .nav-link {
    border: 0;
    padding: 15px;
  }
  .features .nav-link.active {
    color: #fff;
    background: #d9232d;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #d9232d;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #d9232d;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #d9232d;
  display: inline-block;
  padding: 8px 35px 9px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #e1444d;
}

.pricing .featured h3 {
  color: #fff;
  background: #d9232d;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #d9232d;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*=====================================EDITS=========================================*/


.form-home{ max-width:70%; margin: 0 auto; text-transform: uppercase;}


.title-big{   font-size:43px  !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.88px;
    color: #ffffff !important;
    margin: 0 !important;
}
.title-small{     font-size: 54px;
    font-weight: 300;
    font-stretch: normal; font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.88px;
    color: #ffffff;
    margin: 0;
}
.label-small{
 font-size: 18px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal; font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.32;
    letter-spacing: -0.28px;
    color: #eeeeee;
    margin: 21px 0 33px 0 !important;
}




.form-home .text-box{     border: solid 1.5px #b70006;
    text-align: center; font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.3px;
    color: #eeeeee !important;
    height: 60px;
    border-radius: 0;
    background: none;
    text-transform: uppercase;}


    .form-home .text-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeeeee !important;
}

.form-home .text-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eeeeee !important;
}

.form-home .text-box::-ms-input-placeholder { /* Microsoft Edge */
    color: #eeeeee !important;
}


.form-control:focus {
  
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
}



  .form-home  a{  font-size: 14px;
  font-weight: normal;font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: -0.28px;
  text-align: left;
  color: #eeeeee;}

    .form-home  a:hover, .form-home  a:focus{ color: #b70006; transition: all 0.5s; }

  .subscribe-table button{    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ea0a0a, #630100);
    font-size: 17px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: -0.34px;
    text-align: left;
    color: #eeeeee; outline: 0 !important;
    border: 0;
    text-align: center;
    height: 50px; transition: all 0.3s !important;
    text-transform: uppercase;
    }


    .title-small2 {
    font-size: 52px;
    font-weight: 300;
    font-stretch: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.88px;
    color: #ffffff;
    margin: 0;
}

.downlooad-sec a img
    {
     box-shadow: 0 1.5px 37.5px 0 rgba(234, 10, 10, 0.15);
    max-width: 216px;
    width: 100%;
    margin: 0 0 15px 0;
    }


    .downlooad-sec a img:hover{ box-shadow: 0 1.5px 37.5px 0 rgba(234, 10, 10, 0.55); transition: all 0.3s !important;}

 .subscribe-table button:hover,   button:focus{
         background:#ea0a0a;
     }

      .form-home  label{ font-family: 'Roboto Condensed', sans-serif;
          font-size: 15px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.2px;
  text-align: left;
  color: #bbbbbb;
      }


      .title-big2 {
    font-size: 66px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.88px;
    color: #ffffff !important;
    margin: 0 !important;
}


.downlooad-sec{ padding: 0; }

.center-bg{
   background-image: linear-gradient(56deg, #400502 1%, #010101 59%);
}



.title-small-inner {
      font-size: 37px;
    font-weight: 500;
    font-stretch: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: 46px;
    /* letter-spacing: -0.88px; */
    color: #ffffff;
    margin-top: 100px;
}
.sub-title-small-inner
{ font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: center;
  color: #eeeeee;}

table{font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #eeeeee !important;}




 .table th, .table tbody+tbody{ border:0 !important; }


td{ border-top: 0 !important;  border-left: 0 !important;
        border-right: solid thin #222 !important;    line-height: 25px;
  }

  td:first-child{border-right:0!important;}
    td:last-child{border-right:0!important;}


.subscribe-table p{  font-size:15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;

  color: #eeeeee; }


.cu-form label{  font-size: 17px;
  font-weight: normal;font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #bbbbbb;}

.cu-form .form-control
{  border-radius: 3.5px;
    border: solid 0.5px #333;font-family: 'Roboto Condensed', sans-serif;
    background: transparent;
    height: 60px; 
    color: #eee;}

.cu-form .form-group{ margin-bottom: 25px; }

.cu-form button{ min-width: 150px; }

.cu-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: rgba(187, 187, 187, 0.3) !important;
}

.cu-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgba(187, 187, 187, 0.3) !important;
}

.cu-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(187, 187, 187, 0.3) !important;
}


.input-group-text{border: solid 0.5px #333; border-left: 0}

.input-group-text a{  color: #333; position: relative; right: 5px; }

.input-group-text a:hover{  color: #666 }

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 19px;padding: 15px 0 17px 0;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
    text-align: center;
    text-transform: uppercase;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #fff; transition: all 0.5s;
}
.nav-tabs {
    border-bottom: 1px solid #999;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: #999999;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    position: relative;
    top: 0;
    border-bottom: solid 2px #999999;
}
.innersuvb{    line-height: 30px;}

.title-small-inner2 {
    font-size: 46px;
    font-weight: 500;
    font-stretch: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    line-height: 52px;
    /* letter-spacing: -0.88px; */
    color: #ffffff;
    margin: 0;
}

.cu-form .border{border-color: #333 !important;}

.cu-form .selct-item i{position: relative;right:10px; font-size: 22px; color: #333; cursor: pointer;}
.cu-form .selct-item .active{ color: #0065AD !important } 
.cu-form .selct-item i:hover{ color: #999; transition: all 0.5s; }

@media only screen and (max-width: 1199px){
.title-small2 {
    font-size: 44px;
}
}

@media only screen and (max-width: 380px){
  .table-responsive {
      width:110%;
  }
  }

.title-big2 {
    font-size: 54px !important;


}







@media only screen and (max-width: 575px){

  .title-big2 {
    font-size: 32px !important;
}
.title-small {
    font-size: 35px;
  
}

.title-big {
    font-size: 33px !important;
  }

    .title-small2 {
    font-size: 34px;
}
}

