.bannerImgDiv {
  outline: none;
}

.bannerSlider .slick-slide > div {
  margin: 0 5px;
}
.bannerSlider .slick-list {
  margin: 0 -10px;
}

/* slider alignment */
.bannerSlider .slick-track {
  margin-left: 0;
  margin-right: 0;
}

.bannerSlider img {
  color: #fff;
}

.bannerSlider {
  margin: 55px 0 50px 0;
}

/* Slider button */

.bannerSlider .slick-prev:before,
.bannerSlider .slick-next:before {
  content: "\E825" !important;
  right: calc(4% + 1px);
}

.bannerSlider .slick-next {
  right: calc(4% + 1px);
  width: 50px;
  z-index: 1;
  top: 34% !important;
}

.bannerSlider .slick-prev {
  left: calc(4% + 1px);
  z-index: 1;
  width: 50px;
  top: 34% !important;
}

.bannerSlider .slick-disabled {
  opacity: 0.6;
  display: none;
}

.sliderNextArrow > svg,
.sliderPrewArrow > svg {
  transform: rotate(270deg);
  background: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  border-radius: 35px;
  border-radius: 35px;
  min-width: 34px;
  min-height: 34px;
  width: 40px;
  height: 40px;
  padding: 10px;
  opacity: 1;
  border: 0;
  right: calc(4% + 1px);
}

.empty__slider__item {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .bannerSlider {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
