.happi-header {
	position: relative;
	width: 100%;
	height: 585px;
	overflow: hidden;
	z-index: 99;
	/*margin-bottom: 4.2vw;*/

	/*	padding-top: 46%;*/
	/*	background: transparent url("../images/paralax-header-main-bg.png") no-repeat 0 0;
		background-size: cover;*/
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: $medium) {
		height: 450px;
		background-position: 43% 0;
	}

	& > .main-bg {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		&:after {
			content: "";
			position: absolute;
			/* background-image: url('../images/title-bg.png'); */
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
			background-position: center;
		}
	}

	.header-content {
		position: relative;
		top: 30px;
		left: 0;
/*		width: 100%;
		transform: translate(0, -15%);*/
		text-align: center;
		@media screen and (max-width: $medium) {
			/*transform: translate(0, -35%);*/
			top: 40px;
		}
		h1 {
			color: $white;
			text-align: center;
			width: 100%;
			padding: 0 30px;
			margin: auto;
			letter-spacing: -0.3rem;
			line-height: 0.95;
			max-width: 860px;
			@media screen and (max-width: $medium) {
				line-height: 1.12;
				letter-spacing: 0.05rem;
			}

			span {
				padding-top: 30px;
				animation: fadein2 1s;
				letter-spacing: 0.5px;
			}

			animation: fadein2 1s;
		}
		a.btn{
			margin-top: 40px;
		}
	}


}

@keyframes fadein {
	from {
		opacity: 0;
		margin-top: 100px
	}
	to {
		opacity: 1;
		margin-top: 50px
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
		margin-top: 100px
	}
	to {
		opacity: 1;
		margin-top: 50px
	}
}

@keyframes fadein2 {
	from {
		opacity: 0;
		margin-top: 50px
	}
	to {
		opacity: 1;
		margin-top: 0
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
	from {
		opacity: 0;
		margin-top: 50px
	}
	to {
		opacity: 1;
		margin-top: 0
	}
}
