@media screen and (max-width: 768px) {
	body.single #page {
		padding-top: 45px;
	}
}

body.single article {
	padding-top: 148px;
	padding-bottom: 90px;
	border-bottom: 1px solid #d3d7db;
}

body.single article header {
	padding-bottom: 45px;
}

body.single article header a.back-to {
	font-size: 11px;
	color: #26262d;
	padding-left: 55px;
	height: 47px;
	display: flex;
	align-items: center;
	background: transparent url("../images/buttonBack.png") no-repeat 0 center;
}

body.single article header .tags {
	padding: 50px 0 20px;
}

body.single article header .tags span {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #707c86;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #707c86;
}

body.single article header .tags span:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

@media screen and (max-width: 768px) {
	body.single article header .tags {
		padding: 16px 0 21px;
	}
}

body.single article header h1 {
	font-size: 43px;
	line-height: 1.12;
	letter-spacing: -0.5px;
	padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
	body.single article header h1 {
		font-size: 27px;
		line-height: 1.19;
	}
}

body.single article header div.date {
	font-size: 12px;
	font-weight: bold;
	color: #707c86;
	width: 100%;
	padding: 0;
}

body.single article header div.date:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #dde1e4;
	margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
	body.single article header {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 22px;
	}
}

body.single article div.entry-content {
	padding-top: 33px;
}

body.single article div.entry-content.w_780 {
	max-width: 760px;
}

body.single article div.entry-content .container {
	padding: 0;
	margin: 0;
}

body.single article div.entry-content .vc_column-inner {
	padding-left: 5px;
	padding-right: 5px;
}

body.single article div.entry-content h2 {
	text-align: left;
	font-size: 22px;
	line-height: 1.45;
	letter-spacing: 0.5px;
	padding-bottom: 30px;
}

body.single article div.entry-content h3 {
	display: inline-block;
	position: relative;
	font-size: 18px;
	line-height: 1.71;
	letter-spacing: 0.5px;
	padding-top: 1em;
	padding-bottom: 0;
	margin-bottom: 30px;
}

body.single article div.entry-content h3:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02);
	background-image: linear-gradient(to right, #bc067b, #fe322a 69%, var(--golden-gate));
}

body.single article div.entry-content p {
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 1em;
}

body.single article div.entry-content ul {
	margin: 0;
	padding: 0;
}

body.single article div.entry-content ul li {
	font-weight: bold;
	list-style-position: inside;
	color: #707c86;
}

body.single article div.entry-content figure.b-border .vc_single_image-wrapper {
	position: relative;
}

body.single article div.entry-content figure.b-border .vc_single_image-wrapper:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02);
	background-image: linear-gradient(to right, #bc067b, #fe322a 69%, var(--golden-gate));
}

body.single article div.entry-content .vc_figure-caption {
	font-size: 11px;
	font-style: italic;
	line-height: 2.18;
	color: #707c86;
	padding-top: 8px;
}

@media screen and (max-width: 768px) {
	body.single article div.entry-content {
		padding-left: 0;
		padding-right: 0;
	}

	body.single article div.entry-content .vc_row {
		margin: 0;
	}

	body.single article div.entry-content h2 {
		font-size: 18px;
		line-height: 1.33;
		padding-bottom: 16px;
	}

	body.single article div.entry-content h3 {
		padding-top: 0.5em;
	}

	body.single article div.entry-content figure {
		margin-bottom: 15px;
	}
}

body.single section.related {
	padding-top: 4.7vw;
	padding-bottom: 40px;
}

body.single section.related h3 {
	text-align: center;
	padding-bottom: 40px;
}

body.single section.related .container {
	padding: 0;
}