@keyframes slidy {
    0%  { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; margin-top: 100px; }
    div#slider .figure img { width: 20%; float: left; }
    div#slider .figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 20s slidy infinite; 
    }
    
    @media (max-width: 750px) {

        /* .bannerWrapper{padding: 10px;width:auto;}
        .bannerimage{width: 97%;padding: 3px;} */
        
        .Portrait{display: block;}
        .LandScape{display: none;}
        
     }

     @media (min-width: 751px) {

      /* .bannerWrapper{padding: 10px;width:auto;}
      .bannerimage{width: 97%;padding: 3px;} */
      
      .Portrait{display: none;}
      .LandScape{display: block;}
      
   }

    