/* .payment-update{
    margin: 0;
    padding-right: 4% !important;
}
.modal-dialog .modal-confirm{
    margin: 0;
    padding-right: 4% !important;
} */


@media (min-width: 268px) and (max-width:467px) {
    .modal-confirm {
        width: 255px !important;
    }
   
    
}
@media (min-width: 468px) and (max-width:500px) {
    .modal-confirm {
        width: 285px !important;
    }
    
}
@media (min-width: 768px) and (max-width:1023px) {
    .modal-confirm {
        width: 700px !important;
    }
    
}